Declaring and assigning variables

In [7]:
age=20
name="sow"
height=5.3
is_student=True
print("age:",age)
print("height:",height)
print("name:",name)

age: 20
height: 5.3
name: sow

Type checking and conversion

In [8]:
age=20
print(type(age))
age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [9]:
height=5.1
type(height)
int(height)

5

Dynamic Typing

In [12]:
var=10
print=(var,type(var))
var="hello"
print=(var,type(var))
var=3.14
print=(var,type(var))

In [ ]:
age=(int(input("what is the age")))
print(age,type(age))

Adding two numbers

In [ ]:
num1=int(input("enter first nnumber:",))
num2=nt(input("enter second number:",))
total=num1+num2
print("the sum is:",total)